:root {
    --light-red: #ff525d;
    --very-light-red: #ff7a85;
    --very-dark-blue: #1f3f5b;
    --white: #ffffff;
    --grayish-blue: #c8c8cb;
    --very-drak-grayish-blue: #4b5862;
    --very-dark-black-blue: #25252d;
}

/* #region root value overrides */
html {
    width: 100%;
    min-height: 100%;
    background-color: var(--white);
    font-family: Ubuntu;
    overflow-x: hidden;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-width: 375px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
/* #endregion root value overrides */


/* #region misc */
.mt-0 {
    margin-top: 0;
}

.d-inline {
    display: inline;
}

.v-middle {
    vertical-align: middle;
}

.px-3 {
    padding: 0 3px;
}

.rotate-180 {
    transform: rotate(180deg);
}

.full-img {
    width: 100%;
    display: block;
}

.horizontal-line {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid hsl(237, 17%, 21%, 0.1);
    margin: 0;
}

.hamburger-icon {
    background-image: url("/blogr-landing-page/images/icon-hamburger.svg");
    display: inline-block;
    width: 40px;
    height: 18px;
}

.close-icon {
    background-image: url("/blogr-landing-page/images/icon-close.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 18px;
}

#menu-modal {
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: 0 5px 10px 0 hsl(237, 17%, 21%, 0.5);
    padding: 2rem;
}
/* #endregion misc */


/* #region navbar */
.navbar {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
    margin-top: 2rem;
}

.navbar__brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__btn {
    display: block;
    text-decoration: none;
    color: var(--very-dark-black-blue);
}

.navbar__btn {
    margin-bottom: 1.5rem;
    border: 0;
    background-color: transparent;
}

.navbar__btn--bg {
    background-image: linear-gradient(to right, #ff8f70, #ff3d54);
    color: var(--white);
    border-radius: 30px;
    max-width: 100px;
    padding: 10px;
    margin: 0 auto;
}

.navbar__btn-group .navbar__btn:first-child {
    margin-top: 1rem;
}

.navbar__btn-group .navbar__btn:last-child {
    margin-bottom: 0;
}
/* #endregion navbar */


/* #region banner-main */
.banner-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: var(--white);
    margin: 0 2rem;
}

.banner-main h2 {
    margin-top: 0;
    font-size: 2.1875rem;
    font-weight: 500;
}

.banner-main h3 {
    margin-top: 0;
    font-family: Overpass;
    font-size: 1.2rem;
    font-weight: 100;
}

.banner-main h2 span::after,
.banner-main h3 span::after {
    content: "\A";
    white-space: pre;
}

.banner-main__link-btn-group {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
}

.banner-main__link-btn {
    border: 1px solid var(--white);
    border-radius: 1.8rem;
    padding: 0.825rem 1.2rem;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--white);
}

.banner-main__link-btn.reverse {
    background-color: var(--white);
    color: var(--very-light-red);
}

.banner-main__link-btn:last-child {
    margin-left: 1rem;
}
/* #endregion banner-main */

/* #region sections */
.section {
    height: 100vh;
    text-align: center;
}

.banner-section {
    background-image: url("/blogr-landing-page/images/bg-pattern-intro.svg"),
        linear-gradient(to bottom right, #ff8f70, #ff3d54);
    background-position: 35% 25%, 100% 100%;
    background-size: auto 200%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    border-bottom-left-radius: 8rem;
    position: relative;
}

.intro-section {
    margin: 6.25rem 0 14rem 0;
    padding: 0 2.625rem;
}

.strengths-section {
    margin: 6.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.illustration-laptop-mobile {
    width: 100%;
}

.phones-section {
    height: 170px;
    position: relative;
}

.phones-section img {
    width: 100%;
}

.infra-section {
    background-image: url("/blogr-landing-page/images/bg-pattern-circles.svg"),
        linear-gradient(to bottom right,#2c2d3f, #3f4164);
    background-position: center -700%;
    background-size: auto 94.5%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    border-top-right-radius: 8rem;
    border-bottom-left-radius: 8rem;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.infra-section h2 {
    padding: 0 0.385rem;
    font-size: 1.6rem;
}

.intro-section,
.strengths-section {
    height: auto;
    font-family: Overpass;
}

.intro-section h2,
.strengths-section h2 {
    padding: 0 0.385rem;
    font-size: 1.6rem;
}

.intro-section p:first-of-type,
.strengths-section p:first-of-type {
    margin-bottom: 3rem;
}

.intro-section p,
.strengths-section p,
.infra-section p {
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-weight: 100;
}

.infra-section main,
.strengths-section main {
    padding: 0 2.625rem;
}
/* #endregion sections */


/* #region footer */
.footer {
    height: auto;
    background-color: var(--very-dark-black-blue);
    border-top-right-radius: 8rem;
    font-family: Overpass;
}

.footer__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: var(--very-drak-grayish-blue);
}

.footer__list li {
    margin-bottom: 0.825rem;
}

.footer__list-body {
    margin: 2.5rem 0;
}

.footer__list li:last-child {
    margin-bottom: 0;
}

.footer__brand {
    margin: 4rem 0;
    color: var(--white);
}

.footer__list-title {
    color: var(--white);
    font-weight: 100;
}
/* #endregion footer */


/* #region card */
.card {
    cursor: pointer;
}

.card__header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#menu-modal.collapse,
.card__body.collapse {
    overflow: hidden;
    height: 0;
    padding: 0;
}

.card__body {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card__body {
    margin: 1rem 0;
    background-color: hsl(240, 7%, 94%);
    border-radius: 5px;
    padding: 1rem;
}

.card__body a {
    color: var(--very-drak-grayish-blue);
}

.card__body li {
    margin-bottom: 1rem;
}

.card__body li:last-child {
    margin-bottom: 0;
}

.phone-img {
    width: 100%;
    position: absolute;
    bottom: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.illustration-editor-desktop {
    display: none;
}

.illustration-laptop-desktop {
    display: none;
}
/* #endregion card */

@media (min-width: 375px) {
    .phone-img {
        width: 375px;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 18px;
    }

    .illustration-editor-mobile,
    .illustration-laptop-mobile {
        display: none;
    }

    .illustration-editor-desktop {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50px;
        right: 0;
        margin: auto;
        width: auto;
        height: 180%;
    }

    .illustration-laptop-desktop {
        display: block;
        position: absolute;
        width: auto;
        height: 200%;
        top: 0;
        left: -480px;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    .section-header {
        width: 100%;
        margin: 0 0 6.25rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-header h2 {
        margin: 0;
    }

    .section-content {
        text-align: left;
        display: flex;
    }

    .section-reverse-content {
        flex-direction: row-reverse;
    }

    .section-content main {
        width: 50%;
    }

    .intro-section {
        position: relative;
        padding: 0 9rem;
    }

    .strengths-section {
        position: relative;
        flex-direction: row;
        text-align: left;
        height: 100vh;
    }

    .infra-section {
        text-align: left;
        background-position: -85% 80%;
        background-size: 80% auto, 100% 100%;
    }

    .infra-section main {
        width: 50%;
    }

    .phone-img-container {
        width: 50%;
        position: relative;
    }

    .phone-img {
        top: 0;
        right: 0;
        margin: auto;
        width: auto;
    }

    .illustration-editor-container,
    .illustration-laptop-container {
        position: relative;
    }

    .illustration-editor-container,
    .illustration-laptop-container,
    .strengths-section main {
        width: 50%;
    }

    .infra-section main,
    .strengths-section main {
        padding-right: 9rem;
    }

    .banner-main h2 span::after,
    .banner-main h3 span::after {
        content: "";
        white-space: normal;
    }

    .footer footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: left;
        align-items: baseline;
    }
}