:root {
    --light-red: #ff525d;
    --very-light-red: #ff7a85;
    --very-dark-blue: #1f3f5b;
    --white: #ffffff;
    --grayish-blue: #c8c8cb;
    --very-drak-grayish-blue: #4b5862;
    --very-dark-black-blue: #25252d;
}

html {
    width: 100%;
    min-height: 100%;
    background-color: var(--white);
    font-family: Ubuntu;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

.img {
    width: 100%;
    display: block;
}

.section {
    height: 100vh;
    text-align: center;
}

.section.first {
    background-image: url("/blogr-landing-page/images/bg-pattern-intro.svg"),
        linear-gradient(to bottom right, #ff8f70, #ff3d54);
    background-position: 35% 25%, 100% 100%;
    background-size: auto 200%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    border-bottom-left-radius: 8rem;
    position: relative;
}

.section.second {
    height: auto;
    padding: 6.25rem 0;
    font-family: Overpass;
}

.section.second main {
    margin-top: 6.25rem;
    padding: 0 2.625rem;
}

.section.second h2 {
    padding: 0 0.385rem;
    font-size: 1.6rem;
}

.section.second p:first-of-type {
    margin-bottom: 3rem;
}

.section.second p {
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-weight: 100;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
    margin-top: 2rem;
}

.intro-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: var(--white);
    margin: 0 2rem;
}

.intro-main h2 {
    margin-top: 0;
    font-size: 2.1875rem;
    font-weight: 500;
}

.intro-main h3 {
    margin-top: 0;
    font-family: Overpass;
    font-size: 1.2rem;
    font-weight: 100;
}

.intro-main h2 span::after,
.intro-main h3 span::after {
    content: "\A";
    white-space: pre;
}

.intro-link-btn-group {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
}

.intro-link-btn {
    border: 1px solid var(--white);
    border-radius: 1.8rem;
    padding: 0.825rem 1.2rem;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--white);
}

.intro-link-btn.reverse {
    background-color: var(--white);
    color: var(--very-light-red);
}

.intro-link-btn:last-child {
    margin-left: 1rem;
}

.toggler-btn {
    border: 0;
    background-color: transparent;
}

.hamburger-icon {
    background-image: url("/blogr-landing-page/images/icon-hamburger.svg");
    display: inline-block;
    width: 40px;
    height: 18px;
}

.attribution {
    font-family: Ubuntu;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}